.photo-grid {
  display: -ms-grid;
  display: grid;
  max-width: 92.5%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen  and (max-width: 1140px) {
  .photo-grid {
    max-width: 90.625%;
    gap: 14px;
  }
}
/* на разрешении 961px - 971px вместо 3 картинок в ряд становится 2,
  grid так адаптируется под заданные размеры. */
@media screen and (max-width: 960px) {
  .photo-grid {
    max-width: 93.75%;
    gap: 16px;
  }
}

@media screen and (max-width: 680px) {
  .photo-grid {
    max-width: 90%;
    row-gap: 12px;
  }
}
