.intro {
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 92px 0;
  margin-left: 148px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .intro {
    max-width: 67.38%;
    margin-left: 48px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 93.75%;
    margin-left: 24px;
  }
}

@media screen and (max-width: 680px) {
  .intro {
    max-width: 90%;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-left: 16px;
  }
}
